a {
  text-decoration: none;
}

a:visited {
  color: black;
}

button  {
  width: 50px;
  height: 25px;
}

.cart {
    position: absolute;
    right: 100px;
    border: none;
    background: none;
}

.categories-color {
  background-color: lightgrey;
  padding-left: 10px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 700px;
    height: 700px;
}

.flex-container-header {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 40px;
    border: solid 1px black;
    padding: 0px;
}

.flex-container-section {
  display: -webkit-flex;
  display: flex;
  width: 400px;
}

.flex-item {

    margin-right: 10px;
    margin-bottom: 20px;
}

.flex-item-aside {
    width: 200px;
    height: 90%;
    margin: 10px;
    font-size: 24pt;
    border: solid 1px black;
}

.flex-item-header {
    width: 100%;
    height: 100%;
    padding-top:8px;
}

.flex-item-header-2 {
    width: 100%;
    height: 100%;
}

.flex-item-main {
    width: 500px;
    height: 500px;
    margin: 10px;
}

.list {
  padding-left: 10px;
}

.logout {
    position: absolute;
    right: 100px;
    vertical-align: middle;
}

.price {
  text-align: right;
  padding-left: 100px;
}

.title {
  font-size: 14pt;
  vertical-align: middle;
}

.title-2 {
  font-size: 14pt;
  vertical-align: middle;
  padding-left: 10px;
}
